<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(function(){
           // var iosocket = io.connect("http://localhost:3001");
          var iosocket = io.connect(null);
            iosocket.on('connect', function () {

                $('#incomingChatMessages').append($('<li>已经建立连接</li>'));

                iosocket.on('message', function(message) {
                    $('#incomingChatMessages').append($('<li></li>').text(message));
                });

                iosocket.on('disconnect', function() {
                    $('#incomingChatMessages').append('<li>断开连接了</li>');
                });
            });

            $('#outgoingChatMessage').keypress(function(event) {
                if(event.which == 13) {
                    event.preventDefault();
                    iosocket.emit("message",$('#outgoingChatMessage').val());
                   // iosocket.send($('#outgoingChatMessage').val());
                    $('#outgoingChatMessage').val('');
                }
            });
        });
    </script>
    <title><%=title%></title>
</head>
<body>
Incoming Chat:&nbsp;<ul id="incomingChatMessages"></ul>
<br />
<input type="text" id="outgoingChatMessage">
</body>
</html>