<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%=title%></title>
         <% include css.ejs %>
    </head>
    <body>

        this is my first node!!<br/>
            <div>最基本的页面显示，express的熟悉</div>
     <% include top.ejs %>
    </body>
</html>
