.blod{ font-weight: bold;}
.red{ color: red;}
.w220{ width: 220px;}
.fleft{ float: left;}
.menu{ width: 600px;}
.menu div{ width: 100px;float: left; }
.msg{ width: 200px; height: 50px;}
.disno{ display: none;}
.disblock{ display:block;}